<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lachie's Travel App</title>
</head>

<body>
  <h1>Lachie's Travel App</h1>
  <table class="form-table">
    <tbody>
      <tr>
        <td>
          <label for="destination">Destination City:</label>
        </td>
        <td colspan="2">
          <input class="field" type="text" placeholder="Enter destination here" id="destination" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="from-date">From Date:</label>
        </td>
        <td colspan="2">
          <input class="field" type="date" id="from-date" />
        </td>
      </tr>
      <tr>
        <td>
          <label for="to-date">To Date:</label>
        </td>
        <td colspan="2">
          <input class="field" type="date" id="to-date" />
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <button id="submit" type="submit">Submit</button>
        </td>
        <td>
          <button id="clear" type="reset">Reset</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="image"></div>
  <div id="info"></div>
  <div id="tripLength"></div>
  <footer>
    <p>&copy; Lachlan Bardwell 2021</p>
  </footer>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }

  </script>
</body>


</html>
